*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    display: gird;
    place-items: center;
    height: 100vh;
    background-color: #d4e0ee ;
}
header{
    padding:30px;
    border: 20px;
    display:flex;
    justify-content: space-between;
}

#container{
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 0 auto;
  max-width: 80rem; 
  padding: 15rem;  
  border: 2px solid #b0c4d8;
 
}
li {
    background-color: #87CEEB;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid rgb(60, 56, 56);
}

h1{
    font-size: 4.4rem;
    color: #333;    
    text-align: center;
    border-radius: 30px 10px ;
    border: 2px solid #b0c4d8;
}
p{
    height: 8rem;
    font-size: 2em;
    width: 100%;
    text-align:left;
    display:flex;
    align-items: center;
   
}
#quizHome{
    display: inline-block;
    align-items: center;
    text-align: center;
 
}

label {
    margin-right: 50px;   
    align-items: center;
    font-size: 2em;
    
}

 #startTimer{
    font-size: 2.4rem;
    padding:2rem;
    width:30rem;   
    justify-content: center;     
    text-decoration: double;
    color: #4169E1;
    background-color: #87CEEB;
    border-radius: 30rem 10rem 30rem ;
    border: 2px solid #b0c4d8;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem;
   
}

.idBtn:hover{
    cursor: pointer;
    color: #71a8a7;;
}
